# common --@aspect_rules_py//py:python_version=3.12
build --@aspect_rules_py//uv/private/constraints/venv:venv=lhre-tools
build --@protobuf//bazel/flags:prefer_prebuilt_protoc=true


build:remote --bes_results_url=https://longhorn-racing-electric.buildbuddy.io/invocation/
build:remote --bes_backend=grpcs://longhorn-racing-electric.buildbuddy.io
build:remote --remote_cache=grpcs://longhorn-racing-electric.buildbuddy.io
build:remote --remote_timeout=10m
build:remote --remote_executor=grpcs://longhorn-racing-electric.buildbuddy.io
build:remote --extra_execution_platforms=//:rbe_linux

build:local --remote_executor=
build:local --remote_cache=
build:local --remote_executor=
build:local --extra_execution_platforms=

try-import .bazelrc.user
